<div class="contact-box">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <img [src]="contact.file | avatar" alt="" class="card-photo">
            <div class="right-side">
                <p class="card-title pl-3">
                    {{ contact?.first_name + ' ' + contact?.last_name }}
                </p>
                <p class="card-phone-number pl-3">
                    {{ contact?.phone_number }}
                </p>
            </div>
        </div>
        <div class="right-side">
            <mat-icon [matMenuTriggerFor]="menu" class="cursor-pointer">keyboard_arrow_down</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)='emitData("edit",contact.contact_id)'>Edit</button>
                <button mat-menu-item (click)='emitData("delete", contact.contact_id)'>Delete</button>
            </mat-menu>
        </div>  
    </div>
</div>