<div class="recover-form">
    <div class="recover-form-header">
        <div class="text-center">
            <h1>Forgot your password?</h1>
            <p>Enter your email below, and we`ll send you the Reset Link</p>
        </div>
    </div>
    <div class="recover-form-body mt-4">
            <mat-form-field class="w-100">
                <mat-label>Enter Your Email</mat-label>
                <input matInput placeholder="Enter Your Email" [formControl]="emailCtrl">
            </mat-form-field>
            <mat-form-field class="w-100">

            <input matInput [type]="hide ? 'password' : 'text'" 
                   [formControl]='passCtrl' placeholder="Enter New Password">
            </mat-form-field>
    </div>

    <span *ngIf="emailCtrl.errors?.isExists" class="warning d-block pb-2">
        User with this email Doesn`t exists
    </span>

    <div class="recover-form-footer mt-2">
        <button class="btn btn-primary w-100" (click)='sendRecovery()'>
            Send Reset Link
        </button>
        
        <button class="btn w-100 mt-3" routerLink='/auth/login'>
            Back to Login 
        </button>
    </div>
</div>