@import 'src/variables';

.recover-form {
    p {
        color: $soft-grey; 
    }
    a {
        color: $soft-grey;
    }
    .forget-your-password {
        a{
            vertical-align: super;
            padding-left: 12px;
        }
    }
}