<div class="dashboard  h-100">
    <div class="d-flex h-100" [ngClass]='{"bar-colapse": isMobile}'>
        <div class="nav-dashboard p-3">
            <div class="d-flex justify-content-between">
                <h1>Bookmark</h1>
                <ng-container *ngIf="isMobile">
                    <mat-icon class="menu-icon user-select-none"
                              (click)='isNavbaraExpanded = !isNavbaraExpanded'
                              [ngClass]='{"rotate": !isNavbaraExpanded}'>menu</mat-icon>
                </ng-container>
            </div>
            <ul class="mt-3 pl-0" *ngIf="!isNavbaraExpanded || !isMobile">
                <li routerLink='/contacts/dashboard/contact' routerLinkActive='active-nav'>
                    <mat-icon>perm_contact_calendar</mat-icon>
                    <a class="navigation-link">Contacts</a>
                </li>
                <li routerLink='/contacts/dashboard/group' routerLinkActive='active-nav'>
                    <mat-icon>group_work</mat-icon> 
                    <a class="navigation-link">Groups</a> 
                </li>
            </ul>
        </div>
        <div class="content w-100 p-3">
            <div class="content-header pt-3 d-flex justify-content-center">
                <div class="log-out">
                    <button mat-button color="primary" (click)='globalService.logOut()'>Logout</button>
                </div>
            </div>
            <div class="content-body">
                <div class="p-4">
                    <div class="d-flex justify-content-between">
                        <div class="content-header-info d-flex">
                            <h1 class="mb-0">{{ router.url !== '/contacts/dashboard/group' ? 'Contacts' : 'Groups'}}</h1>
                            <p class="mb-0 align-self-center">{{ contactsService.amount }} Amount</p>
                        </div>
                        <div class="add-contact d-flex align-items-center" 
                             (click)='openAddForm()' *ngIf=" router.url !== '/contacts/dashboard/group' ">
                            <mat-icon>person_add</mat-icon> 
                            <p class="mb-0">
                                Add Contact
                            </p>
                        </div>
                    </div>
               </div>

               <div class="pl-4 pr-4">
                   <router-outlet></router-outlet>
               </div>
            </div>
        </div>
    </div>
</div> 