@import 'src/variables';

.dashboard {
    .nav-dashboard {
        min-width: 300px;
        border-right: 1px solid $soft-grey;
        ul {
            list-style-type: none;
            li {
                cursor: pointer;
                font-size: 1rem;
                padding-top: 10px;
                padding: 5px 25px;
                a {
                    color: $soft-grey;
                    vertical-align: super;
                    padding-left: 10px;
                };
            }
            .active-nav {
                background: $light-purple;
                position: relative;
                &:before {
                    height: 100%;
                    width: 4px;
                    background: $medium-purple;
                    position: absolute;
                    left: 0px;
                    content: '';
                    display: block;
                    top: 0px;
                }
            }
        }
    };
    .content {
        background-color: #F4F8F9;
        padding-right: 16px;
        .content-body {
            .content-header-info {
                h1 {
                    color: $medium-purple;
                }
                p {
                    padding-left: 10px;
                    color: $soft-grey;
                }
            }
        }
    }
}
.content-header {
   background: white;
   margin: -1rem;
   .content-search {
       min-width: 300px;
   }
};

.bar-colapse {
    flex-wrap: wrap;
    height: unset !important;
    .nav-dashboard {
        border-right: unset;
        width: 100%;
        padding-bottom: 0 !important;
        ul, li {
            width: 100%;
        };
        ul {
            margin-top: 0px !important;
            // transition: ease-in 1s;
            height: 72px;
        };
        .menu-icon {
            cursor: pointer;
            transition: 1s;
        } 
    }
    .content-header {
        padding-top: 0 !important;
    }
}

.rotate {
    transform: rotate(89deg);
}