/* You can add global styles to this file, and also import other style files */
@import 'src/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 

.navigation-link {
    cursor: pointer;
    &:hover {
        text-decoration: underline !important;
    }
};

li:focus {
    outline: unset !important;
}

.cursour-pointer { 
    cursor: pointer;
}

.warning {
    color: red;
};