/* You can add global styles to this file, and also import other style files */
@import 'src/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 

.navigation-link {
    cursor: pointer;
    &:hover {
        text-decoration: underline !important;
    }
};

li:focus {
    outline: unset !important;
}

.cursor-pointer { 
    cursor: pointer;
}

.warning {
    color: red;
};

 
.add-contact {
    padding: 7px 15px;
    background: #27AAF7;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    max-width: 150px;
    p {
       padding-left: 12px;
     }
};

.user-select-none {
    user-select: none;
}